{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Listes des Notes</h1>
    </div>
    <p>
        {% if notes %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Non de la note</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                    <tr>
                        <td><a href="{{ url_for('show_note', note_id=note['note_id']) }}">
                            {{ note['note_name'] }}</a></td>
                        <td class="text-center">
                            <a href="{{ url_for('upd_note', note_id=note['note_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Modifier">
                               <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('del_note', note_id=note['note_id']) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer">
                               <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de note dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('add_note') }}" class="btn btn-default">Ajouter une note</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}