{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Listes des Secrets</h1>
    </div>
    <p>
        {% if secrets %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Non du secret</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for secret in secrets %}
                    <tr>
                        <td><a href="{{ url_for('show_secret', secret_id=secret['secret_id']) }}">
                            {{ secret['secret_name'] }}</a></td>
                        <td class="text-center">
                            <a href="{{ url_for('upd_secret', secret_id=secret['secret_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Modifier">
                               <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('del_secret', secret_id=secret['secret_id']) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer">
                               <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de secret dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('add_secret') }}" class="btn btn-default">Ajouter un secret</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}