{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Compte: {{ srvr_acct.account_name }}</h1>
    </div>

    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Mot de Passe</h2>
        </div>
        <div class = "panel-body">
            {{ srvr_acct.account_pass }}
        </div>
    </div>
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Description</h2>
        </div>
        <div class = "panel-body">
            {{ srvr_acct.account_desc }}
        </div>
    </div>

    <p><a href="{{ url_for('list_srvr_accts', srvr_id=server.srvr_id) }}" class="btn btn-default">Retour à la liste</a></p>
    <p>&nbsp</p>
</div>
{% endblock %}
