{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Base de données: {{ database.db_name }}</h1>
    </div>
    {% if database.db_desc %}
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Description</h2>
        </div>
        <div class = "panel-body">
            {{ database.db_desc }}
        </div>
    </div>
    {% endif %}
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">SGBD</h2>
        </div>
        <div class = "panel-body">
            {{ dbms[database.dbms] }}
        </div>
    </div>
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Port</h2>
        </div>
        <div class = "panel-body">
            {{ database.db_port }}
        </div>
    </div>

    <p><a href="{{ url_for('list_databases', srvr_id=server.srvr_id) }}" class="btn btn-default">Retour à la liste</a></p>
    <p>&nbsp</p>
</div>
{% endblock %}
